streamlit
pandas
numpy
openpyxl

# Visualisasi
plotly
kaleido
matplotlib

# Geospasial
geopandas
folium
streamlit-folium
shapely
fiona
pyproj

# Parsing & Web
beautifulsoup4
lxml
html5lib

# Image
pillow